<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The event</title>
</head>
<body>
    <h1><%= event.title %></h1>
    <%- event.description %>
    <p><%= date %></p>
    <% if (event.image.url) { %>
        <p><img src=<%= optimisedImage %> loading="lazy" alt=<%= event.title %> style="border-radius:20px;width:650px;height:200px;object-fit:cover"/></p>
    <% } %>

    <a href="../events">Back to events</a>
</body>
</html>